header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 100%;
    background-color: #db9730;
    background-image:  url(/images/always-grey.png);

}